{% extends 'base.html' %}

{% block content %}

    <form method="post">
        <p>Enter admin credentials to be able to edit the menu</p>
        {% csrf_token %}
        {{ form.as_p }}
        {% if messages %}
            {%  for messages in message %}
            <div class="alert alert-{{ message.tags }} m-2" id="msg" role="alert">
                {{ message }}
            </div>>
        {% endfor %}
        {% endif %}
        <button type="submit">Submit</button>
    </form>
{% endblock%}