{% extends 'base.html' %}
{% load static %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'app/main/js/show.js' %}"></script>
{% endblock %}


{% block content %}
    <div id="show-food">
        <h3 class="text-danger"><strong>Menu</strong></h3>
        <!-- show all food types -->
        <aside>
            <div class="list-group">
                {% for type_name in types %}
                    <a href="{% url 'show_food_by_type' type=type_name %}" class="list-group-item">{{ type_name }}</a>
                {% endfor %}
            </div>
        </aside>
        <menu>
            <table class="table table-hover table-bordered">
                <thead>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Add</th>
                </thead>

                {% for item in items %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>&euro; {{item.price}}</td>
                        <td>{{ item.stock }}</td>
                        <td>
                            <section class="section">
                                <button itemId="{{ item.id }}" class="minus">-</button>
                                <span class="amount">0</span>
                                <button itemId="{{ item.id }}" class="plus">+</button>
                            </section>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </menu>
    </div>
{% endblock %}