{% extends 'base.html' %}
{% load static %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'app/main/js/view_order.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container ">
        <h3 class="text-danger"><strong>View Order</strong></h3>
        <br>
        <table class="table table-hover table-bordered">
            <thead>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
            </thead>
            {% for i in items %}
                <tr>
					<td>{{i.item.name}}</td>
					<td>{{i.amount}}</td>
					<td>{{i.item.price}}
                </tr>
            {% endfor %}
            <tr><td></td><td></td><td></td></tr>
            <thead>
                    <th></th>
                    <th>Discount</th>
                    <th>{{discount_amount}}</th>
            </thead>
            <thead>
                    <th></th>
                    <th>Total Price</th>
                    <th>{{total_price}}</th>
            </thead>
            <thead>
            <th>
                <button onclick="make_payment({{order.id}})">
                            Payment
                </button>
            </th>

            </thead>
        </table>
	</div>
{% endblock %}