{% extends 'base.html' %}
{% load static %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'app/main/js/view_orders.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container ">
        <h3 class="text-danger"><strong>Orders</strong></h3>
        <br>
        <table class="table table-hover table-bordered">
            <thead>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
            </thead>

            {% for order in orders %}
                <tr>
					<td>{{order.timestamp}}</td>
					<td>{{order.state}}</td>
					<td>
                        <button onclick="view_order({{order.id}})">
                            View
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
	</div>
{% endblock %}