{% extends 'base.html' %}
{% load static %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'app/main/js/view_order.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container ">
        <h3 class="text-danger"><strong>View Order</strong></h3>
        <br>
        <table class="table table-hover table-bordered">
            <thead>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
            </thead>
            {% for i in items %}
                <tr>
					<td>{{i.item.name}}</td>
					<td>{{i.amount}}</td>
					<td>{{i.item.price}}
                </tr>
            {% endfor %}
            <tr><td></td><td></td><td></td></tr>
            <thead>
                    <th></th>
                    <th>Discount</th>
                    <th>{{discount_amount}}</th>
            </thead>
            <thead>
                    <th></th>
                    <th>Total Price</th>
                    <th>{{total_price}}</th>
            </thead>
            <thead>
             <form>
                    <th><button type = "button" onclick = 'show("paypal", "card");'>Paypal Details</button></th>
                    <th><button type = "button" onclick = 'show("card", "paypal");'>Credit Card Details</button></th>
            </form>
            </thead>
        </table>

    <div id="card">
        <div id = "card" class="form-group">
            <label for="name_input">Name</label>
            <input name="cardname" type="text" class="form-control" id="username_input" placeholder="Card name">
            <span id="username_msg"></span>
        </div>
        <div class="form-group">
            <label for="number_input">Card Number</label>
            <input name="number" type="number" class="form-control" id="number_input" placeholder="Card number">
        </div>
        <div class="form-group">
            <label for="expiry_date">Expire date</label>
            <input name="date" type="date" class="form-control" id="expiry_date_input" placeholder="Date">
        </div>
        <div class="form-group">
            <label for="cvs_input">CVS</label>
            <input name="cvs" type="number" class="form-control" id="cvs_input" placeholder="CVS">
        </div>
        <button type="submit" class="btn btn-success btn-block">Make Payment</button>
    </div>

    <div  id="paypal">
        <div class="form-group">
            <label for="email_input">password</label>
            <input name="email" type="email" class="form-control" id="email_input" placeholder="Email">
        </div>
        <div  class="form-group">
            <label for="password_input">email</label>
            <input name="password" type="text" class="form-control" id="password_input" placeholder="password">
            <span id="username_msg"></span>
        </div>

        <button type="submit" class="btn btn-success btn-block">Make Payment</button>
    </div>
	</div>
{% endblock %}