{% extends 'base_user.html' %}
{% load static %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'app/user/js/register.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" enctype="multipart/form-data" action="{% url 'register' %}" onsubmit="return checkSubmit();">

          {% csrf_token %}

          <div class="form-group">
            <label for="username_input">Username</label>
            <input name="username" type="text" class="form-control" id="username_input" placeholder="Username">
            <span id="username_msg"></span>
          </div>
          <div class="form-group">
            <label for="email_input">Email address</label>
            <input name="email" type="email" class="form-control" id="email_input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="password_input">Password</label>
            <input name="password" type="password" class="form-control" id="password_input" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="password_confirm_input">Confirm Password</label>
            <input name="password_confirm" type="password" class="form-control" id="password_confirm_input" placeholder="Confirm Password">
          </div>
          <div class="form-group">
            <label for="icon_input">Choose profile photo</label>
            <input name="icon" type="file" id="icon_input">
          </div>
          <button type="submit" class="btn btn-success btn-block">Register</button>
        </form>
    </div>
{% endblock %}